@model Hot_Mic_Karaoke.Models.Business

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Business</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kevents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kevents.EventLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
