@model IEnumerable<Hot_Mic_Karaoke.Models.MemberMessages>



@{
    ViewData["Title"] = "MemberHomePage";
    var username = User.Identity.Name;
    
}

<h1>Member Homepage</h1>

<div class="jumbotron bg-light col-md-4">
    <h2 class="text-center text-primary">
        <i class="fab fa-facebook-messenger"></i>&nbsp; Karaoke Messenger
    </h2>

    <div class="row">
        <div class="col-md-12" id="chat">
            @*@if (Model != null)
            {
                @foreach (var message in Model.OrderBy(m => m.When))
                {
                    string containerClass, timePosition, textAlign, contColor, offset;
                    if (username == message.UserName)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-light";
                        textAlign = "text-right text-white";
                        contColor = "bg-primary";
                        offset = "col-md-6 offset-md-6";
                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        contColor = "bg-light";
                        offset = "";

                    }*@
                    @*<div class="row">
                        <div class="@offset">
                            <div class="@containerClass  @contColor">
                                <p class="sender @textAlign">@message.UserName</p>
                                <p class="@textAlign">@message.text</p>
                                <span class="@timePosition">@message.When.ToString()</span>
                            </div>
                        </div>
                    </div>

                }
            }*@
        </div>
        <div class="col-md-12">
            <form asp-action="Create"
                  data-ajax-begin="clearInputField" data-ajax-complete=""
                  data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                  data-ajax="true" data-ajax-method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="Text" class="form-control" id="messageText" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" id="submitButton" class="btn btn-primary" />
                </div>
                <input type="hidden" value="@username" name="username" />
            </form>
        </div>
    </div>

</div>
<div class="col-lg-4">
    <h1>My Song List</h1>
    <p>
        <a asp-action="Create">Add New Song</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                   
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
@if (User.Identity.IsAuthenticated)
{
    <script>
    const userName = "@ViewBag.CurrentUserName";
    </script>
}




@section scripts {
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Chat.js"></script>
    <script src="~/js/signalReqHandler.js"></script>

}